<app-topnav></app-topnav>
<div class="container11">
    <div class="mainimage">
        <div class="theimage">

            <div class="imagetext">
                <h1> Windham Library Center</h1>
            </div>

        </div>

    </div>
    <div class="information">
        <div class="eventsnews">
            Events & News
        </div>
        <div class="panel">
            <div class="p1">
                <div class="subpanel">
                    <div class="sp1">
                        <h2>May 2nd:</h2>
                        <ul id="even">
                            <li>


                            </li>
                            <li>
                                <h4>Career Couneling - 10:30am</h4>
                            </li>
                            <li>
                                <h4>Tech Help - 1:00pm</h4>
                            </li>
                            <li>
                                <h4>Art Night - 5:30pm</h4>
                            </li>

                        </ul>

                    </div>
                    <div class="sp2">
                        <h2>May 4th:</h2>
                        <ul id="even">
                            <li>


                            </li>
                            <li>
                                <h4>Career Couneling - 10:30am</h4>
                            </li>
                            <li>
                                <h4>Story Time - 11:30am</h4>
                            </li>
                            <li>
                                <h4>Tech Help - 3:30pm</h4>
                            </li>
                            <li>
                                <h4>Career Couneling - 6:00pm</h4>
                            </li>


                        </ul>
                    </div>
                </div>

            </div>
            <div class="p2">
                <h1>News:</h1>
                <h3>
                    <p>Durring the month of May - Self Service Kiosk located in the 2nd floor computer area of the library</p>
                </h3>


                <p>Be aware that there may be minutes of lag time when you send the print job and when it shows up at the kiosk.</p>
                <ol>
                    <li>At the Kiosk, click Release a Print Job, enter your email address, and click OK.</li>
                    <li>Select the print job(s) you wish to print and click Print.</li>
                    <li>A window will pop up listing the total cost of the print job(s).</li>
                    <li>Deposit coins/bills into the vending machine.</li>
                    <li>Click Pay From Vending Device.</li>
                    <li>The job(s) will then be released to the printer.</li>
                </ol>
                <p>Print jobs that haven’t been released will automatically expire after 3 days.</p>
                <ul id="tax">
                    <li>
                        <h3>Income Tax Forms</h3>
                    </li>
                    <li>At any time during the year, we can print out accessible tax forms (state or federal) through the appropriate website for $.10 per page. </li>
                </ul>

            </div>
        </div>


    </div>
    <div class="footer">
        <a routerLink="/" id="fnav">Home </a>

    </div>

</div>